In [2]:
#Data structure in python

a = 10
b = 20
c = True
d = 20.0006


val = [10 ,20, True, 20.0006] #Data structure #storing multiple values in effective manner

print(val[0])
print(val[-1])

10
20.0006

In [ ]:
#Differences and specialities

#List**

#[]
#Ordering and indexing possible
#Allow duplicates
#Mutable
#Concatenation supported


#Tuple

#()
#Ordering and indexing possible
#Allow duplicates
#immutable
##Concatenation supported
#copy method not supported

#Set

#{}
#Ordering and indexing not possible
#Doesnot Allow duplicates
#Mutable
#Concatenation not supported


#Dictionary**

#{key:value}
#Ordering and indexing not possible
#No duplicates keys but duplicate values allowed
#Mutable
##Concatenation not supported

## List and its methods

In [4]:
#Values available within []

val = [1,3,4,5,6]

print(type(val))

<class 'list'>

In [ ]:
#python data structures are heterogenous

val = [10 ,20, True, 20.0006] #multiple Datatype inside single DS

In [5]:
#List ordered or indexed

val = [1,3,4,5,6]
print(val[0])
print(val[-1])

1
6

In [6]:
#List allows duplicates

val = [1,1,1,2,3,4,5,5,6]

print(val)

[1, 1, 1, 2, 3, 4, 5, 5, 6]

In [7]:
#List supports concatenation

a = [1,2,3,4,5]
b = [6,5,7,8,4,9]

print(a+b)

[1, 2, 3, 4, 5, 6, 5, 7, 8, 4, 9]

In [9]:
#Create a empty list

x = []

print(x)
print(type(x))

x = list()

print(x)
print(type(x))

[]
<class 'list'>
[]
<class 'list'>

In [11]:
#append

a = [10,20,3,5,6,9]

a.append(100)

print(a)

None

In [12]:
#insert

a = [10,20,3,5,6,9]

a.insert(2,200) #(index, value)

print(a)

[10, 20, 200, 3, 5, 6, 9]

In [14]:
#pop

a = [3,4,5,6]

a.pop() #it will remve last value

print(a)

a.pop(1) #index number

print(a)

[3, 4, 5]
[3, 5]

In [16]:
#remove

a = [3,4,5,6,1,2,"hello"]

a.remove(2)

print(a)

a.remove("hello")

print(a)

[3, 4, 5, 6, 1, 'hello']
[3, 4, 5, 6, 1]

In [18]:
#extend

a = [1,2,3,4]
b = [8,0,9,"hello"]

a.extend(b)

print(a)

[1, 2, 3, 4, 8, 0, 9, 'hello']

In [19]:
#index

a = [1,2,3,0,5,6]

print(a.index(2))

1

In [20]:
#count

a = [1,1,3,3,3,4,4,4,4,4,5,5]

print(a.count(5))

2

In [21]:
#sum/min/max

a = [1,2,3,4,0,10,12]

print(sum(a))
print(min(a))
print(max(a))

32
0
12

In [22]:
#sort (ascending/descending)

a = [4,5,6,7,10,12,14,2]

a.sort() #Ascending order

print(a)

[2, 4, 5, 6, 7, 10, 12, 14]

In [24]:
a = [4,5,6,7,10.3,12,14.0,2]

a.sort(reverse=True) #descending order

print(a)

[14.0, 12, 10.3, 7, 6, 5, 4, 2]

In [29]:
a = ["zebra","hello", "hi", "python"]

a.sort()

print(a)

['hello', 'hi', 'python', 'zebra']

In [25]:
#reverse

a = [4,5,6,7,10,12,14,2]

a.reverse()

print(a)

[2, 14, 12, 10, 7, 6, 5, 4]

In [12]:
#clear

a = [1,2,3,4,5,10]

a.clear()

print(a)

[]

In [2]:
#List assignment

Li1 = [3,4,5,6,10,20]

Li1[4] = 100

print(Li1)

[3, 4, 5, 6, 100, 20]

In [3]:

Li1 = [3,4,5,6,10,20]

Li1[3:] = 100

print(Li1)

TypeError: can only assign an iterable

In [7]:
#copy #Deep copy and shallow copy

a = [5,6,7,8,10]

b = a #Shallow copy

print(a)
print(b)

a[2] = 100

print(a)
print(b)

print(id(a))
print(id(b))

[5, 6, 7, 8, 10]
[5, 6, 7, 8, 10]
[5, 6, 100, 8, 10]
[5, 6, 100, 8, 10]
2811943410888
2811943410888

In [8]:
#copy #Deep copy and shallow copy

a = [5,6,7,8,10]

b = a.copy() #Deep copy

print(a)
print(b)

a[2] = 100

print(a)
print(b)

print(id(a))
print(id(b))

[5, 6, 7, 8, 10]
[5, 6, 7, 8, 10]
[5, 6, 100, 8, 10]
[5, 6, 7, 8, 10]
2811943443976
2811942479240

In [11]:
#del

a = [4,5,6,3,10,2]

#Adv1

del a[3:]

print(a)

#Adv2

a = [4,5,6,3,10,2]

del a

print(a)

[4, 5, 6]

NameError: name 'a' is not defined

In [ ]:
#https://www.w3schools.com/python/python_ref_list.asp

## Tuple Methods

In [14]:
#available ()

a = (3,4,5,"hello", 20.001)

print(a)
print(type(a))

(3, 4, 5, 'hello', 20.001)
<class 'tuple'>

In [15]:
a = 3,4,5,"hello", 20.001

print(a)
print(type(a))

(3, 4, 5, 'hello', 20.001)
<class 'tuple'>

In [17]:
a = (1,)
print(a)
print(type(a))

(1,)
<class 'tuple'>

In [18]:
#python data structures are heterogenous

val = (10 ,20, True, 20.0006) #multiple Datatype inside single DS

print(val)

(10, 20, True, 20.0006)

In [19]:
#Ordered / indexed DS

val = (10 ,20, True, 20.0006)

print(val[-1])

20.0006

In [20]:
#allows duplicates

val = (1,1,1,3,3,4,5)

print(val)

(1, 1, 1, 3, 3, 4, 5)

In [21]:
#supports concatenation

a = (8,9,6)
b = ("welcome", "to", "DS")

c = a + b
print(c)

(8, 9, 6, 'welcome', 'to', 'DS')

In [23]:
#tuple creation empty

a = ()

print(a)
print(type(a))

a = tuple()

print(a)
print(type(a))

()
<class 'tuple'>
()
<class 'tuple'>

In [25]:
#immutable

a = [10,20,30] #Dynamic memory
a[1] = 1000

print(a)

a = (10,20,30)
a[1] = 1000

print(a)

[10, 1000, 30]

TypeError: 'tuple' object does not support item assignment

In [26]:
#sum/min/max/len

a = (3,4,5,6,10)

print(sum(a))
print(len(a))
print(min(a))
print(max(a))

28
5
3
10

In [27]:
#count

a = (1,2,3,1,1,2,2,3,3,4,5,6)

print(a.count(1))

3

In [31]:
#index

a = (1,2,3,1,1,2,2,3,3,4,5,6)

print(a.index(6)) #First available index and positive index

print(a.index(3))

print(a.index(5))

11
2
10

In [1]:
a = (1,2,3,4)
b = a.copy()
print(b)

AttributeError: 'tuple' object has no attribute 'copy'

In [ ]:
#https://www.w3schools.com/python/python_ref_tuple.asp

## Set methods

In [32]:
#{} with individual elements
a = {1,2,3,4}

print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [33]:
#heterogenous

a = {1,2,3,"val", 30.0}
print(a)

{1, 2, 3, 30.0, 'val'}

In [34]:
#Indexing or ordering is not possible here

a = {5,4,6,7,4}

print(a[2])

TypeError: 'set' object is not subscriptable

In [35]:
#Concatenation

a = {1,2,3,4}
b = {5,6,7,8}

print(a+b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [36]:
#Set supports only unique values

a = {1,1,2,2,3,3,3,3,3,4,4,5,5,1}

print(a)

{1, 2, 3, 4, 5}

In [37]:
a = {}

print(a)
print(type(a))

{}
<class 'dict'>

In [38]:
a = {2}

print(a)
print(type(a))

{2}
<class 'set'>

In [39]:
a = set()

print(a)
print(type(a))

set()
<class 'set'>

In [ ]:
#Mutable

In [40]:
#add

a = {1,2,4,4,4,5,6}

a.add(4)

print(a)

{1, 2, 4, 5, 6}

In [41]:
#update

a = {1,2,4,4,4,5,6}
b = {4,5,6,7,8,9,0,0,0,0}

a.update(b)

print(a)

{0, 1, 2, 4, 5, 6, 7, 8, 9}

In [43]:
#remove

a = {1,2,4,4,4,5,6}
a.remove(2)
print(a)
a.remove(0) #Unavailable element remove will throw error
print(a)

{1, 4, 5, 6}

KeyError: 0

In [42]:
#discard

a = {1,2,4,4,4,5,6}
a.discard(2)
print(a)
a.discard(0)
print(a)

{1, 4, 5, 6}
{1, 4, 5, 6}

In [44]:
#pop #ramdome element removal

a = {1,4,5,6,2,2,1}

a.pop()

print(a)

{2, 4, 5, 6}

In [45]:
#sum/min/max/len

a = {3,4,5,1,6,2}

print(sum(a))
print(min(a))
print(len(a))
print(max(a))

21
1
6
6

In [46]:
#clear

a = {1,2,3,4,1,2,1}

a.clear()

print(a)

set()

In [47]:
#del

a = {1,2,3,4,1,2,1}

del a

print(a)

NameError: name 'a' is not defined

In [49]:
#copy

a = {1,2,3,4,1,2,1}

b = a.copy()

print(b)

b.add(100)

print(a)
print(b)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 100, 4}

In [1]:
#union

a = {1,2,3,4,9,0}
b = {5,6,7,10,11,3,4}

c = a.union(b)

print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11}

In [6]:
#Intersection

a = {1,2,3,4,9,0}
b = {5,6,7,10,11,3,4}

c = a.intersection(b) #storing in new set ot storing in already available set #both are possivle

print(c)

{3, 4}

In [5]:
#Intersection update

a = {1,2,3,4,9,0}
b = {5,6,7,10,11,3,4}

a.intersection_update(b) #we can update only already available DS

print(a)

{3, 4}

In [8]:
#difference

a = {1,2,3,4,9,0}
b = {5,6,7,10,11,3,4}

c = a.difference(b)

print(c)

{0, 1, 2, 9}

In [7]:
#difference update


a = {1,2,3,4,9,0}
b = {5,6,7,10,11,3,4}

a.difference_update(b)

print(a)

{0, 1, 2, 9}

In [10]:
#symmetric difference

a = {1,2,3,4,9,0}
b = {5,6,7,10,11,3,4}

c = a.symmetric_difference(b)

print(c)

{0, 1, 2, 5, 6, 7, 9, 10, 11}

In [9]:
##symmetric difference update

a = {1,2,3,4,9,0}
b = {5,6,7,10,11,3,4}

a.symmetric_difference_update(b)

print(a)

{0, 1, 2, 5, 6, 7, 9, 10, 11}

In [12]:
#isdisjoint

a = {1,2,3,4,9,0}
b = {5,6,7,10,11,3,4}
c = {10,5,6,7}

print(a.isdisjoint(b)) #If intersection available ==> False
print(a.isdisjoint(c)) #No intersection ===> True

False
True

In [15]:
#issuperset / issubset

a = {1,2,3,4,9,0}
b = {1,2,0}
c = {7,8}

print(a.issuperset(b))
print(b.issubset(a))
print(a.issuperset(c))
print(c.issubset(a))

True
True
False
False

In [16]:
a = {1,2,3,-1,-2,5,5,6,7,8}

print(a)

{1, 2, 3, 5, 6, 7, 8, -2, -1}

## Dictionary methods

In [17]:
#Dictionary {key:value}

a = {1:"python", 2:"go", 3:4.99, 5:False, 7:100}

print(a)
print(type(a))

{1: 'python', 2: 'go', 3: 4.99, 5: False, 7: 100}
<class 'dict'>

In [19]:
#No ordering or no indexing (key == index)

a = {1:"python", 2:"go", 3:4.99, 5:False, 7:100}

print(a[1])

python

In [21]:
#No duplicate keys are possible but duplicate values are possible

a = {1:"python", 2:"go", 3:4.99, 5:False, 7:100, 1:"java", 6:4.99}

print(a)

{1: 'java', 2: 'go', 3: 4.99, 5: False, 7: 100, 6: 4.99}

In [26]:
#heterogenous / possible keys and values

a = {1:"python", 2:"go", 3:4.99, 5:False, 7:100, 1:"java", 6:4.99}


print(a)
#keys:

#int
#float
#string
#bool (it will convert to integer)

#Values:
#anything
#int float str bool
#list tuple dict set

a = {1:"python", 2:"go", 3:4.99, 5:False, 7:100, 1:"java", 0:"check", 6:4.99, True:10, False:20}

print(a)

a = { 2:"go", 3:4.99, 5:False, 7:100, 6:4.99, True:10, False:20}

print(a)

{1: 'java', 2: 'go', 3: 4.99, 5: False, 7: 100, 6: 4.99}
{1: 10, 2: 'go', 3: 4.99, 5: False, 7: 100, 0: 20, 6: 4.99}
{2: 'go', 3: 4.99, 5: False, 7: 100, 6: 4.99, True: 10, False: 20}

In [27]:
#Concatenation or + operation not supported

a = {1: "hi", 2:"value"}
b = {3:"ggg"}

print(a+b)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [29]:
#How to create a empty dictionary

a ={}
print(a)
print(type(a))

a = dict()
print(a)
print(type(a))

{}
<class 'dict'>
{}
<class 'dict'>

In [30]:
a = {1: "hi", 2:"value"}
b = {3:"ggg"}

a.update(b)

print(a)

{1: 'hi', 2: 'value', 3: 'ggg'}

In [32]:
a = {1: "hi", 2:"value"}

a[5] = "python" #adding one key value pair to dictionary

print(a)

a[2] = "go"  #replacement

print(a)

{1: 'hi', 2: 'value', 5: 'python'}
{1: 'hi', 2: 'go', 5: 'python'}

In [33]:
a = {1: "hi", 2:"value"}

a.pop(1)

print(a)

{2: 'value'}

In [34]:
#ramdom element removal

a = {1: "hi", 2:"value"}

a.popitem()

print(a)

{1: 'hi'}

In [40]:
#items / keys / values/ clear / copy 


a = {1:"python", 2:"go", 3:4.99, 5:False, 7:100, 1:"java", 6:4.99}

print(a.keys())
print(a.values())
print(a.items())

b = a.copy()
print(a)
print(b)

a.clear()

print(a)
print(b)

dict_keys([1, 2, 3, 5, 7, 6])
dict_values(['java', 'go', 4.99, False, 100, 4.99])
dict_items([(1, 'java'), (2, 'go'), (3, 4.99), (5, False), (7, 100), (6, 4.99)])
{1: 'java', 2: 'go', 3: 4.99, 5: False, 7: 100, 6: 4.99}
{1: 'java', 2: 'go', 3: 4.99, 5: False, 7: 100, 6: 4.99}
{}
{1: 'java', 2: 'go', 3: 4.99, 5: False, 7: 100, 6: 4.99}

In [44]:
#sum/min/max

a = {1:"python", 2:"go", 3:4.99, 5:False, 7:100, 1:"java", 6:4.99}

print(sum(a))
print(min(a))
print(max(a))
print(len(a))

24
1
7
6

In [ ]:
a = {1:"python", 2:"go", 3:4.99, 5:False, 7:100, 1:"java", 6:4.99}

In [ ]:
#median

[6,3,5,7,10]

#sort

[6,3,5,7,10,3]

## Data structure conversion

In [ ]:
#list to tuple
#tuple to set
#set to list
#list to dict
#dict to list

#list()
#tuple
#set
#dict
#zip

In [4]:
Li1 = [2,2,2,1,1,3,4,5,6]

print(Li1)
print(type(Li1))

Li2 = list(set(Li1))

print(Li2)
print(type(Li2))

[2, 2, 2, 1, 1, 3, 4, 5, 6]
<class 'list'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [5]:
a = (3,4,5,2,2,2,1)

print(set(a))

{1, 2, 3, 4, 5}

In [9]:
#List to dict ?

Li1 = [1,2,3,4]
Li2 = [5,6,7,8]

#Zip ==> inbuilt function

print(dict(zip(Li1, Li2)))

print(list(zip(Li1, Li2)))

{1: 5, 2: 6, 3: 7, 4: 8}
[(1, 5), (2, 6), (3, 7), (4, 8)]

## Nested Data structure

In [12]:
Li1 = [2,3,4,5,"python"] #on


a = Li1[4]
b = a[4:]

print(b)



Li2 = ["hello", "hi", "welcome", [4,5,6,99,100]] #come , #99 

c = Li2[2]
d = c[3:]

print(d)

on
come

In [15]:
Li1 = [2,3,4,5,"python"]

print(Li1[-1][4:])

Li2 = ["hello", "hi", "welcome", [4,5,6,99,100]]

print(Li2[-1][-2])

on
99

In [18]:
a = {1: [1,2,3,"python"], 2:{10:"hello",20:"welcome",40: "science"}, 99: {3,4,5,6}, 40:{1:"zoology", 2:"Botany"}}


#py
#ello
#en
#zoo
#Bot



print(a)

{1: [1, 2, 3, 'python'], 2: {10: 'hello', 20: 'welcome', 40: 'science'}, 99: {3, 4, 5, 6}, 40: {1: 'zoology', 2: 'Botany'}}